development:
  adapter: async

test:
  adapter: async

production:
  adapter: postgresql
  url: postgres://zshjdlurwbaaks:Ad0a1OhjsSGTmoDdr9-Hi3xy9Y@ec2-50-19-227-171.compute-1.amazonaws.com:5432/dajdb77ostesc8
