<div class="panel panel-default">
  <div class="panel-body">
    <p>Thank you for your purchase.</p>
    <li><%= link_to 'Products', products_path %></li>
  </div><!-- / panel-body -->
</div><!-- / panel -->