// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*-----------------------------------*/
/* - - - - - Global Styles - - - - - */
/*-----------------------------------*/

$font-stack : 'Varela Round', Helvetica, sans-serif;
$primary-color : #ececea;
$secondary-color : #e6cebc;
$text-color : #666666;

/*-----------------------------------*/
/* - - - - - Global Resets - - - - - */
/*-----------------------------------*/

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html,body {
  height: 100%; margin: 0px; padding: 0px;
  background-color: $primary-color;
  font: 100% $font-stack;
  color: $text-color; }

#navbar {
  margin-bottom:0; }

.alert {
  border-radius: 0; }

.container {
  width:100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto; }

.col-xs-1, .col-sm-1, .col-md-1, .col-sm-1, 
.col-xs-2, .col-sm-2, .col-md-2, .col-sm-2, 
.col-xs-3, .col-sm-3, .col-md-3, .col-sm-3, 
.col-xs-4, .col-sm-4, .col-md-4, .col-sm-4, 
.col-xs-5, .col-sm-5, .col-md-5, .col-sm-5, 
.col-xs-6, .col-sm-6, .col-md-6, .col-sm-6, 
.col-xs-7, .col-sm-7, .col-md-7, .col-sm-7, 
.col-xs-8, .col-sm-8, .col-md-8, .col-sm-8, 
.col-xs-9, .col-sm-9, .col-md-9, .col-sm-9, 
.col-xs-10, .col-sm-10, .col-md-10, .col-sm-10, 
.col-xs-11, .col-sm-11, .col-md-11, .col-sm-11, 
.col-xs-12, .col-sm-12, .col-md-12, .col-sm-12 {
  position: relative;
  height:100%;
  min-height: 1px;
  padding-right: 0;
  padding-left: 0; }

.row {
  margin-right: 0;
  margin-left: 0; }

.footer {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  border-top: none; }

.panel {
  border:none; }

.wrapper {
  padding: 70px 0 15px 0;
}

/*-----------------------------------*/
/* - - - - - Navbar Styles - - - - - */
/*-----------------------------------*/

.navbar {
  -webkit-box-shadow: 0px 7px 5px -6px;
  -moz-box-shadow: 0px 7px 5px -6px;
  box-shadow: 0px 7px 5px -6px;
  z-index: 1;
}

.navbar-default, .navbar-collapse {
  background-color: $primary-color;
  border: none;
}

.navbar-default .navbar-nav > li > a {
  color: $text-color;
  text-transform: uppercase;
  font-size: .8em;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #333;
    background-color: #f8f8f7;
    border-radius: 0 0 10px 10px ;
}

.navbar-default .navbar-toggle {
    border-color: transparent; 
}

.navbar > .container {
  width: auto;
  padding-right: 10px;
  padding-left: 8px;
}

/*-----------------------------------*/
/* - - - - - Product Styles - - - - - */
/*-----------------------------------*/

.show-img {
  border-radius: 25px;
}

.prod-img {
  border-radius: 25px;
  padding: 15px;
  overflow: hidden;
}

.product-heading {
  text-align: center;
  text-transform: uppercase;
}

.top {
  padding-top: 60px;
}

/*-----------------------------------*/
/* - - - - - Intro Styles - - - - - */
/*-----------------------------------*/

.intro {
  padding: 15px;
  margin-top:10px;
  border: white medium solid;
  background-color: #f8f8f7;
  border-radius: 10px;
  height: 50%;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
    
    h3 {
      text-align: left;
    }
    p {
      font-size: 1.25em;
      font-size-adjust: .58em;
      text-align: left;
      line-height: 2em;
      white-space: wrap;
      overflow: scroll;
      text-overflow: ellipsis;
    }
    
    .right {
      text-align: right;
      margin-top: 10px;
      text-transform: uppercase;
    }    
}


/*-----------------------------------*/
/* - - - - - Carousel Styles - - -  - */
/*-----------------------------------*/

#carousel {
  padding-top: 0px;
}

.carousel-control.right, .carousel-control.left {
  background-image:none;
  opacity: 0;
}

.carousel-caption {
  font-family: $font-stack;
  font-size: 2em;
  color: #000;
}

/*-----------------------------------*/
/* - - - - - About Styles - - -  - */
/*-----------------------------------*/

.contact {
  img {
    width: 100%;
    margin: 0 auto;
  }

  .about_text h4 {
  padding-top: 180px;
  text-transform: uppercase;
  text-align: left;
  margin: 0 auto;
  width: 100%;
  }
}

@media (max-width: 979px) {
  .contact {
    .about_text h4 {
    padding-top: 30px;
    }
  }
}

/*-----------------------------------*/
/* - - - - - Footer Styles - - -  - */
/*-----------------------------------*/

footer {
  text-transform: uppercase;
  font-size: .6em;
}

/*-----------------------------------*/
/* - - - - Contact Form Styles - - - */
/*-----------------------------------*/

.form-sign-in-with-social{
    display: inline-block;
    max-width: 180px;
    box-sizing: border-box;
    vertical-align: top;
    text-align: center;
    margin-top: 100px;
}

.form-sign-in-with-social .form-title-row{
    margin-bottom: 50px;
}

.form-sign-in-with-social .form-title{
    box-sizing: border-box;
    color:  #4c565e;
    font-size: 24px;
    padding: 15px 20px;
    border-bottom: 2px solid #6caee0;
}

.form-sign-in-with-social .form-google-button{
    color:  #ffffff;
    display: block;
    width: 145px;
    height: 40px;
    font-size: 12px;
    line-height: 40px;
    background-color:  rgba(222, 110, 60, 0.9);
    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.08);
    border-radius: 2px;
    margin: 8px auto;
    text-decoration: none;
}

.form-sign-in-with-social .form-facebook-button{
    color:  #ffffff;
    display: block;
    width: 145px;
    height: 40px;
    font-size: 12px;
    line-height: 40px;
    background-color:  rgba(75, 136, 194, 0.9);
    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.08);
    border-radius: 2px;
    margin: 8px auto;
    text-decoration: none;
}

.form-sign-in-with-social .form-twitter-button{
    color:  #ffffff;
    display: block;
    width: 145px;
    height: 40px;
    font-size: 12px;
    line-height: 40px;
    background-color:  rgba(123, 195, 226, 0.9);
    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.08);
    border-radius: 2px;
    margin: 8px auto;
    text-decoration: none;
}


.contact {
  border: white medium solid;
  background-color: #f8f8f7;
  border-radius: 10px;
  height: 450px;
  padding-bottom: 40px;
  padding-top: 30px;
  margin-right: auto;
  margin-left: auto;
  max-width: 80%;

  h3 {
      text-transform: uppercase;
      }

      .button {
        border: 2px solid #0099cc;
        color: #0099cc;

      }
}

/*-----------------------------------*/
/* - - - - General Form Styles - - - */
/*-----------------------------------*/

.top {
  padding-top: 60px;
}

/*-----------------------------------*/
/* - - - - - Media Queries - - - - - */
/*-----------------------------------*/

/* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
       .wrapper {
        padding-top: 45px;
      }
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 479px) {
        .wrapper {
        padding-top: 60px;
      }
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 769px) {
        .wrapper {
        padding-top: 60px;
      }
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
        .wrapper {
        padding-top: 60px;
      }
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1199px) {
        .wrapper {
        padding-top: 60px;
      }
    }