<div class="container">
<div class="row">
<div class="col-md-4 col-md-offset-4 top">

<h1>New Product</h1>

<%= render 'form', product: @product %>

<%= link_to 'Back', products_path %>

</div>
</div>
</div>